<header>
<div class="page-header">
<div class="container">
<h1>AIESEC?</h1>
<p class="lead">Tout savoir sur la plus grande association d'étudiants dans le monde</p>
</div>
</div>
</header>

<div class="container">
	<div class="row">
		<div class="span3">
			
			        <ul class="nav nav-list">
			        	
				          <li class= "<%=cp(root_path)%>" >
				          <%=link_to("Accueil", root_path) %></li>
				          <li class= "<%=cp(about_path)%>" >
				          <%=link_to("Présentation", about_path) %></li>
				          <li class= "<%=cp(exchange_path)%>" >
				          <%=link_to("Echanges", exchange_path) %></li>
				          <li class= "<%=cp(services_path)%>" >
				          <%=link_to("Services", services_path) %></li>
				          <li class= "<%=cp(events_path)%>" >
				          <%=link_to("Evénements", events_path) %></li>
				          <li class= "<%=cp(alumni_path)%>" >
				          <%=link_to("Alumni", alumni_path) %></li>
				          <li class= "<%=cp(contact_path)%>" >
				          <%=link_to("Contact", contact_path) %></li>
			      		
			        </ul>
      			
		</div>
		<div class="span9">
			<h1> Titre Section </h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus mi, rutrum tincidunt vestibulum sit amet, vestibulum quis arcu. Donec posuere bibendum dignissim. Vivamus auctor, nisi euismod venenatis lacinia, augue mauris volutpat mauris, quis pretium mauris neque quis nibh. Nam pellentesque venenatis ligula, quis sagittis dolor egestas sit amet. Aenean iaculis, turpis sit amet posuere fermentum, nisi erat sodales ante, vestibulum blandit tortor eros eget neque. In malesuada posuere placerat. Sed pulvinar molestie mollis. Etiam pharetra felis sit amet est egestas imperdiet.

				Ut at risus nisl, a ullamcorper purus. Fusce ultricies quam sed lorem pharetra ac vulputate quam commodo. In congue arcu nec sapien molestie molestie eget facilisis massa. Pellentesque non posuere neque. Nam suscipit, orci et sagittis feugiat, tortor arcu porttitor libero, nec malesuada sem enim vitae justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultricies mi eget est aliquam mollis.

				Pellentesque luctus massa eu magna luctus dictum. Aenean in arcu libero. Nullam sem turpis, mollis at feugiat id, aliquam ac dolor. Proin ut turpis nulla. Etiam gravida adipiscing ipsum id pulvinar. Nulla elementum lorem et erat scelerisque volutpat. Pellentesque at purus a justo porttitor tempus ac at purus. Praesent lacinia gravida interdum. Aliquam pharetra congue nisl at porttitor. Integer mauris sem, lacinia non tristique eu, fringilla ut felis.

				Fusce aliquet placerat consequat. Suspendisse potenti. Aliquam erat volutpat. Donec ut diam sed mi porta pretium. Cras dapibus blandit tortor ut pellentesque. Vestibulum pulvinar ligula et neque malesuada dictum. Cras nibh tortor, aliquet ut bibendum non, bibendum eu purus. Morbi dictum, arcu at semper blandit, felis ligula pulvinar est, sit amet tincidunt mauris velit dignissim dui. Donec libero lorem, volutpat interdum consequat et, fringilla sed libero. Donec lectus dolor, dapibus a pharetra in, gravida at ante. Fusce sapien sem, tincidunt vel sollicitudin eu, ullamcorper et magna. Proin sem lorem, aliquam a sodales vitae, egestas ac nulla. Nullam enim diam, iaculis ut blandit at, sodales eu tellus. Fusce consequat sagittis nulla id rhoncus.

				Morbi rutrum felis a sem mattis adipiscing. Vivamus accumsan imperdiet erat, eu scelerisque sapien commodo sed. In sit amet lectus non elit feugiat varius. Sed vehicula, purus sed accumsan imperdiet, nisl purus iaculis metus, eget laoreet nibh elit sed nunc. Sed imperdiet malesuada nibh a lobortis. Fusce vestibulum diam vitae dolor accumsan varius. Suspendisse potenti. Praesent leo tortor, lacinia eget tempus id, commodo laoreet neque. Praesent id magna molestie urna tempor porta. Phasellus dignissim nunc at nunc volutpat nec placerat est dictum. Aliquam orci purus, ultrices sed tincidunt posuere, adipiscing id odio. Vestibulum ut aliquet lacus. Quisque diam enim, ornare sed interdum a, molestie vitae magna.
			</p>
	</div>
</div>